<h2>hello</h2>
<form action="/celebraties" method="POST">
<input type="text" name="name" placeholder="Name">
<input type="text" name="occupation" placeholder="Occupation">
<input type="text" name="catchphrase" placeholder="Catch phrase">
<button type="submit">send!</button>
</form>
